* {
	margin: 0;
	padding: 0;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}
html,body {
	height: "100%";
	font-family: Arial, Helvetica, sans-serif; 
}
ul,li {
	list-style: none;
}
h1,h2,h3,h4 {
	margin: 0; 
}

img {
	max-width: 100%;
}

/** animation **/
@keyframes scaleUpDown {
	from {
		transform: scale(1,1);
	}
	to{
		transform: scale(1.2,1.2);
	}
}
/** end of animation */
/** common **/ 
[class ^="iconc-"],
[class *= "iconc-"]{
	background: url("../images/sprite.png") no-repeat;
	display: inline-block;
}
.icont-love {
	background: url("../images/love.png") no-repeat;
	background-size: cover;
	width: 20px;
	height: 20px;
	display: inline-block;
}
.iconc-date {
	background-position: 0 0;
	width: 36px;
	height: 40px;
}
.btnc,
.btnc:focus,
.btnc:visited,
.btnc:active {
	background: #fda786;
	color: #fff;
	outline: none;
}
.btnc:hover {
	background: #fe4600;
	color: #fff;
}
input[type="text"]{
	border: 1px solid #fda786;
}
input[type="text"]:focus {
	box-shadow: 0 0 3px 1px #fda786;
	border-color: #fda786;
	outline: none; 
}
/* end of common */
.hero {
	position: relative;
	height: 100%;
}
.heroSlider{
	height: 100vh;
}
.heroSlider img {
	width: 100%;
}
.vegas-overlay{
	background: url("../images/love-small.png") center center;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 11;
}
.slideTxt {
	position: absolute;
	width: 360px;
	height: 295px;
	background: url("../images/love.png") no-repeat;
	background-size: contain;
	z-index: 12;
	top: 50%;
	margin-top: -145px;
	left: 50%;
	margin-left: -180px;
	padding: 65px 0 0;
	text-align: center;
	transition: all 0.4s ease;
	animation: scaleUpDown 2s infinite alternate;
}
.slideTxt p {
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
}
.slideTxt h2 {
	font-family: 'Boogaloo', cursive;
	font-size: 40px;
	line-height: 44px;
	margin: 10px 0;
	color: rgba(255,167,134,0.9);
	text-transform: uppercase;	
}
.time {
	padding: 30px 0;
}
.time h2,
.time h3 {
	text-align: center;
}
.time h2 {
	font-family: 'Pacifico', cursive;
	margin: 0 0 10px 0;
	font-size: 26px;
	line-height: 30px;
	color: #fe4600;
}
.time h3 {
	font-size: 14px;
	line-height: 18px;
	color: #ff8b5e;
}
.remTime {
	text-align: center;
	margin-left: -25px;
}
.remTime li {
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: rgba(255,167,134,0.5);
	margin-left: 25px;
	padding: 30px 10px;
	color: #e90014;
}

.remTime .num {
	font-size: 20px;
	line-height: 22px;
}
.remTime .text {
	display: block;
	font-size: 12px;
	line-height: 15px;
}
.divider {
	position: relative;
	text-align: center;
	height: 10px;
	width: 60%;
	margin: 30px auto;
}
.divider:before,
.divider:after {
	position: absolute;
	height: 2px;
	background: rgba(255,167,134,0.5);
	top: 50%;
	margin-top: -1px;
	width: 45%;
	display: inline-block;
	content: "";
}
.divider:before  {
	left: 0;
}
.divider:after {
	right: 0;
}
.divider .icont-love {
	background-size: contain;
}
.events {
	padding: 60px 0;
	position: relative;	
	background: url("../images/event-bg-1.png") top center no-repeat;
	background-size: cover;
}
.events .overlay {
	background: rgba(255,189,164,0.4);
}
.events h2,
.events h3 {
	font-family: 'Pacifico', cursive;
	margin: 0 0 25px 0;
	font-size: 26px;
	line-height: 30px;
	color: #fff;
	text-align: center;
}
.events h3 {
	font-size: 24px;
	line-height: 28px;
	color: #fff;
	margin-top: 25px;
}
.events address {
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
}
.events address p {
	margin-bottom: 5px;
}
.events address p:last-child {
	margin-bottom: 0;
}
.eventContent {
	position: relative;
	z-index: 15;
}

.couple{
	padding: 30px 0;
	background: #fffafa;
}
.couple h2{
	font-size: 26px;
}
.couple h3{
	font-size: 24px;
}
.couple h2 ,
.couple h3 {
	font-family: 'Pacifico', cursive;
	color: #fe4600;
	margin: 0 0 20px 0;
	color: #ff2243;
}
.couple h3 {
	margin-bottom: 10px;
}
.profile .profilePic  {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto 20px;

}
.profile p {
	width: 320px;
	margin: 0 auto;
	color: #890014;
}

.joinus{
	padding: 30px 0;
}
.joinus h2 {
	font-family: 'Pacifico', cursive;
	color: #fe4600;
	margin: 0 0 40px 0;
}

/*** media ***/

@media (max-width: 767px){
	.joinus h2 ,
	.time h2,
	.events h2 {
		font-size: 26px;
	}
	h3 {
		font-size: 24px;
	}
	.slideTxt{
		width: 240px;
    	height: 220px;
    	margin-top: -110px;
    	margin-left: -120px;
    	padding-top: 45px;
	}
	.slideTxt p{
		font-size: 12px;
		line-height: 16px;
	}
	.slideTxt h2{
		font-size: 30px;
		line-height: 32px;
		margin: 5px 0;
	}
	.remTime{
		margin-bottom: -20px;
	}
	.remTime li {
		width: 80px;
		height: 80px;
		margin-bottom: 20px;
		padding: 20px 10px;
	}

	.events{
		padding: 40px 10px;
	}

	.couple h3{
		font-size: 22px;
		line-height: 24px;
	}

	.profile .profilePic{
		width: 100px;
		height: 100px;
	}
	.profile p{
		width: 280px;
	}

	.joinus{
		padding: 20px 10px;
	}
}